<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Bookstore Project</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cit285.book.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>cit285.book.servlet.AdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAction</servlet-name>
		<servlet-class>cit285.book.servlet.AdminActionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminAction</servlet-name>
		<url-pattern>/adminaction/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>cit285.book.servlet.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Cart</servlet-name>
		<servlet-class>cit285.book.servlet.CartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/cart/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddReciept</servlet-name>
		<servlet-class>cit285.book.servlet.AddRecieptServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddReciept</servlet-name>
		<url-pattern>/proccess/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteBook</servlet-name>
		<servlet-class>cit285.book.servlet.deleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBook</servlet-name>
		<url-pattern>/bookdeletion/*</url-pattern>
	</servlet-mapping>

</web-app>